<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ModuleContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\mylif\source\repos\SmartHouse\SmarHouse.DAL\App_Data\SmarHouse.mdf;Integrated Security=True"
 providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>